html{
	color: white;
	background-color: black;
	overflow-y: hidden;
	font-size: 125%;
}

a{
	color: violet;
}

h1{
	text-align: center;
}

p{
	padding-left: 1em;
}

.boards{
	text-align: center;
	line-height: 0.1;
}

.boards hr {
	color: white;
}

.boards a{
	margin-left: 0.2em;
	margin-right: 0.2em;
	line-height: 1em;
}

.board-info{
	text-align: center;
	font-size: large;
	margin: 1em;
}

form {
	text-align: center;
}
