html{
	color: white;
	background-color: black;
	font-size: 125%;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html::-webkit-scrollbar{
	display: none;
}

.loader:hover{
	display:inline;
}

.loader{
	display:none;
}

a{
	color: violet;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

h1{
	text-align: center;
}

pre{
	padding-left: 1em;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: serif;
}

.boards{
	text-align: center;
	line-height: 0.1;
}

.boards hr {
	color: white;
}

.boards a{
	margin-left: 0.2em;
	margin-right: 0.2em;
	line-height: 1em;
}

.board-info{
	text-align: center;
	font-size: large;
	margin: 1em;
}

form {
	text-align: center;
}
